* {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: $background-html-color;
    font-size: 100%;
}

body {
    max-width: 800px;
    margin: auto;
}

body > * {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 0.1em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0.5em 0;
}

p {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

img,
embed,
object,
video {
    max-width: 100%;
}
