.techs-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    margin: 0.5em;

    h1 {
        grid-column: span 3;
        justify-self: center;
        margin: 0; 
    }
}

.techs-box {
    background-color: $accent-color;
    border-radius: 4px;
    padding: 1em 0;
    text-align: center;

    a:hover {
        color: $background-color;
    }
}

.html,
.php,
.sqlite {
    grid-column: span 1;
}

.css,
.javascript,
.python {
    grid-column: span 2;
}

.git {
    grid-column: span 3;
}

@media only screen and (max-width: 600px) {
    .techs-container {
        grid-template-columns: auto;

        h1 {
            grid-column: span 1;
        }
    }

    .techs-box {
        grid-column: span 1;
    }
}
