$background-color: #561d5e;
$background-alternative-color: #d3d3d3;
$background-html-color: #fcfcfc;

$font-color: #212427;
$font-alternative-color: #aba546;

$accent-color: #63b671;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;
